{{ if eq .osid "linux-ubuntu" -}}
#!/bin/bash
set -o pipefail
set -o errexit

echo "Installing pre-reqs for Ubuntu"
sudo apt install git wget zsh -y 

echo "Changing the shell"
chsh -s /bin/zsh $(whoami)

{{ end -}}
