{{ if and (eq .work true) (eq .osid "arch") -}}
#!/bin/bash

yay -Sy microsoft-identity-broker-bin msalsdk-dbusclient microsoft-edge-stable-bin --noconfirm
{{ $installScript := joinPath .chezmoi.homeDir ".cache" "github" "microsoft-intune-archlinux" "intune-portal" -}}
cd {{ $installScript }}
makepkg -si

{{ end -}}