{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -eufo pipefail


{{ if .eq .osid "linux-ubuntu" -}}
sudo apt-get update
sudo apt-get install -y {{ .packages.linux.apt | join " " }}
{{ end -}}

{{ end -}}