[".cache/github/git-credential-manager.json"]
  type = "file"
  refreshPeriod = "168h" # 1-week
  url = "https://api.github.com/repos/git-ecosystem/git-credential-manager/releases/latest"

[".cache/github/age-yubikey-plugin.json"]
  type = "file"
  refreshPeriod = "168h"
  url = "https://api.github.com/repos/str4d/age-plugin-yubikey/releases/latest"

[".cache/github/github-monospace.json"]
  type = "file"
  refreshPeriod = "168h"
  url = "https://api.github.com/repos/githubnext/monaspace/releases/latest"

{{- $gitMonaspiceVersionTag := (gitHubLatestRelease "ryanoasis/nerd-fonts").TagName }}
[".fonts/monaspice"]
  type = "archive"
  refreshPeriod = "168h"
  url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $gitMonaspiceVersionTag }}/Monaspace.tar.xz"

{{ if eq .osid "linux-arch" }}
["yay"]
  type = "git-repo"
  url = "https://aur.archlinux.org/yay-bin.git"

[".cache/github/microsoft-intune-archlinux"]
  type = "git-repo"
  url = "https://github.com/recolic/microsoft-intune-archlinux.git"
{{ end }}

{{ if eq .chezmoi.os "linux" }}
[".cache/github/fluenttheme"]
  type = "git-repo"
  url = "https://github.com/vinceliuice/Fluent-icon-theme.git"

{{- $gitMarbleThemeVersionTag := (gitHubLatestRelease "imarkoff/Marble-shell-theme").TagName }}
[".themes"]
  type = "archive"
  refreshPeriod = "168h"
  url = "https://github.com/imarkoff/Marble-shell-theme/releases/download/{{ $gitMarbleThemeVersionTag }}/Marble-shell-filled.tar.xz"

{{- $gitDeltaVersionTag := (gitHubLatestRelease "dandavison/delta").TagName }}
[".cache/github/debs/git-delta.deb"]
  type = "file"
  refreshPeriod = "168h"
  url = "https://github.com/dandavison/delta/releases/download/{{ $gitDeltaVersionTag }}/git-delta_{{ $gitDeltaVersionTag }}_amd64.deb"

{{- $jbVersionTag := (gitHubLatestRelease "brewcoua/jb").TagName }}
[".local/bin/jb"]
  type = "archive-file"
  url = "https://github.com/brewcoua/jb/releases/download/{{ $jbVersionTag }}/jb_x86_64-unknown-linux-gnu.tar.gz"
  executable = true
  path = "jb"
  refreshPeriod = "168h"

{{- $devToysReleases := gitHubReleases "DevToys-app/DevToys" }}
{{- $latestRelease := index $devToysReleases 0 }}
[".cache/github/debs/devtoys.deb"]
  type = "file"
  refreshPeriod = "168h"
  url = "https://github.com/DevToys-app/DevToys/releases/download/{{ $latestRelease.TagName }}/devtoys_linux_x64.deb"

[".local/bin/eza"]
  type = "archive-file"
  url = "https://github.com/eza-community/eza/releases/latest/download/eza_x86_64-unknown-linux-gnu.tar.gz"
  executable = true
  path = "eza"
  stripComponents = 1
  refreshPeriod = "168h"
  
{{ end }}
