{{- $name := "Jason Tucker" -}}

{{- writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}

{{ if eq .chezmoi.os "windows" -}}
[interpreters.ps1]
   command = "pwsh"
   args = ["-NoLogo"]

[cd]
   command = "pwsh"
   args = ["-NoLogo", "-NoExit", "-Command", "& {Set-Location $env:HOMEPATH/.local/share/chezmoi}"]

[edit]
   command = "code"
   args = [
      "--wait"
   ]

[merge]
    command = "pwsh"
    args = ["-Command", "cp {{ `{{ .Target }}` }} {{ `{{ .Target }}` }}.base && code --wait --new-window --merge {{ `{{ .Destination }}` }} {{ `{{ .Target  }}` }} {{ `{{ .Target }}` }}.base {{ `{{ .Source }}` }}"]

[diff]
   command = "code"
   args = [
      "--wait",
      "--diff",
      "{{ `{{ .Destination }}` }}",
      "{{ `{{ .Target }}` }}"
   ]
{{- end }}

[git]
   autoCommit = true

[data]
   editor = "code"
