[core]
	editor = \"C:\\Users\\jatucke\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	name = Jason Tucker
	email = jtucker@gmail.com
[credential]
	helper = C:/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
